*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #24272e;
}
header{
    background-color: white;
}
header > h1 {
    color: #25272E;
    text-align: center;
    font-family: Asap, sans-serif;
}